.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

.blogItem h3 {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.blogItem p {
  max-width: 45vw;
}
